.comics-list {
  margin-top: 1.5rem;
}
.comics-list-title {
  font-size: 2.5rem;
  color: var(--filters-color);
}

.comics-list-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-top: 1rem;
}
